* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
   margin-bottom: 60px;
   height: 100vh;
}

.logo-image {
    width: 100%;
}

.logo {
    width: 400px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.card-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 10px;

}

.card {
    background-color: rgba(196, 186, 186,0.1);
    width: 300px;
    height: auto;
    border: 5px solid rgb(14, 59, 233);
    border-radius: 20px;
}
h3 {
    text-transform: capitalize;
}

.pokemon-image {
    width: 95%;
    height: 300px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.name, .type, .text-header {
    color: rgb(248, 228, 1);
}
.name {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.details {
    /*height: 0;
    overflow: hidden;
    transition: 1s;*/
    align-items: center;
    text-align: center;
}

/*.active .details {
    height: 200px;
}*/

.type { 
    font-size: 17px;
    font-style: italic;
    text-align: right;
    margin-right: 10px;
    font-weight:500;
    margin-top: 20px;

}
.add, .delete {
    border-radius: 15px;
    border: none;
    transition: all 0.2s ease;
    width: 200px;
    height: 50px;
    font-weight: bold;
}
.add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(14, 59, 233);
    color: rgb(194, 238, 13);
    margin-top: 20px;
}
    .add:hover {
        color: rgb(14, 59, 233);
        background-color: white;
        border: 1px solid rgb(194, 238, 13);
    }

.link {
    text-decoration: none;
}
.abilities {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    
}
.ability-item {
    list-style-type: none;
    margin-right: 30px;
    font-weight: bold;
    font-size: 14px;
    font-style: oblique;
    color: rgb(14, 59, 233);
}
.delete {
    background-color: rgb(224, 241, 12);
    color: rgb(14, 59, 233);
}
.delete-link {
    text-decoration: none;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.delete:hover {
    color: rgb(224, 241, 12);
    background-color: white;
    border: 1px solid rgb(14, 59, 233);
}
    
@media screen and (max-width: 1330px) {
    .card-container {
        grid-template-columns: auto auto auto;
    }
}

    @media screen and (max-width: 1100px) {
        .card-container {
            grid-template-columns: auto auto;
        }
    }
@media screen and (max-width: 900px) {
    .card-container {
        grid-template-columns: auto;
    }
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-back {
    display: grid;
    justify-content: center;
    margin-top:20px;
}
.back {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
